<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- linking login style sheet -->
    <link rel='stylesheet' href='/styles/sneakersStyle.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Index</title>

</head>

<body>

    <div class="navbar">
        <div class="menu">
            <button  class="hamburger" onclick="showSidebar()">☰</button>
        </div>
        <a  style="color:rgb(255, 170, 0);" href="/"><div class="title">shoestomizer.</div></a>
        <div class="welcoming">Welcome, <%= name    %>!</div>
    </div>


    <div class="sidebar" id="sidebar">

        <a href="#About"></i> About</a>

        <a href="#contact">Contact</a>

        <form action="/logout?_method=DELETE" method="POST">
            <button class="aButton" type="submit"> Logout
            </button>
        </form>

        <button  class="aButton" onclick="hideSidebar()"> Close
            
        </button>

    </div> 
    
    <div class="sidebarImages" id="sidebarImages">

        <i class="fa fa-fw fa-home"></i>

        <i class="fa fa-fw fa-envelope"></i>

        <i class="fa fa-fw fa-user"></i> 

        <i class="fa fa-fw fa-times" onclick="hideSidebar()" style="cursor:pointer"></i> 


    </div>
    

    <h1>ALL SNEAKERS</h1>

    <div class="container">
        <% sneakers.forEach(sneaker =>{  %> 
            <div class="snkrname"><%= sneaker.name %></div>

            <br>

            <img height="200px" width="200px" src="<%=sneaker.imagePath%>"> </img>

            <div class="vedit" style="background-color: rgb(109, 189, 109);">
                <a href="/sneakers/<%= sneaker.id %>" > view</a>
            </div>
            
            <div class="vedit" style="background-color: rgb(146, 146, 201);">        
                <a href="/sneakers/<%= sneaker.id %>/edit" > edit</a>
            </div>

            <div class="delContainer">
                <form method="POST" action="/sneakers/<%= sneaker.id %>?_method=DELETE">
                        <button class="delButton" type="submit"> delete </button>
                </form>
            </div>

        <% }) %> 
    </div>

    <a class="newSneakerButton" href="/new">ADD A NEW SNEAKER</a>

    <a class="back" href="/">inapoi</a>




    <script src="/js_functional/index.js"></script>
</body>

