<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- linking login style sheet -->
    <link rel='stylesheet' href='/styles/viewStyle.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <title>View Sneaker</title>

</head>

<body>
    <div class="navbar">
        <div class="menu">
            <button  class="hamburger" onclick="showSidebar()">☰</button>
        </div>
        <a  style="color:rgb(125, 219, 145);" href="/"><div class="title">shoestomizer.</div></a>
        <div class="welcoming">Welcome, <%= name    %>!</div>
    </div>
    <div class="sidebar" id="sidebar">

        <a href="#About"></i> About</a>

        <a href="#contact">Contact</a>

        <form action="/logout?_method=DELETE" method="POST">
            <button class="aButton" type="submit"> Logout
            </button>
        </form>

        <button  class="aButton" onclick="hideSidebar()"> Close
            
        </button>

    </div> 
    <div class="sidebarImages" id="sidebarImages">

        <i class="fa fa-fw fa-home"></i>

        <i class="fa fa-fw fa-envelope"></i>

        <i class="fa fa-fw fa-user"></i> 

        <i class="fa fa-fw fa-times" onclick="hideSidebar()" style="cursor:pointer"></i> 


    </div>



    <div class="container">
        <h1>sneaker ID: <%= sneaker.id %> </h1>
        <h1>sneaker name: <%= sneaker.name %> </h1>
        <h1>sneaker price: <%= sneaker.price %> </h1>
        <h1>sneaker image name: <%= sneaker.imageName %> </h1>
        <img src="" alt="">
        <img height="500px" width="500px" src="<%=sneaker.imagePath%>"> </img>


        

    </div>

    <a class="back" href="/sneakers"> back</a>









    <% if (locals.errorMessage != null) { %> 
    <div class="error"><%= errorMessage %> </div>
    <% } %> 
    
    


    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="/js_functional/index.js"></script>
    

</body>

